:root {
  scroll-behavior: smooth;
  --primary-theme-color: #20232a;
  --secondary-theme-color: #282c34;
  --primary-text-color: #fff;
  --reverse-primary-text-color: #000;
  --primary-shadow-color: #20232a80;
  --primary-highlight-color: #61dafb;
  --secondary-highlight-color: rgb(255, 217, 0);
  --primary-button-color: #61dafb;
  --secondary-button-color: gold;
  --primary-font-family: 'Inconsolata', monospace;
}

.body {
  background-color: var(--primary-theme-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  margin: 0;
}